/* h1,
h2,
p {
  margin: 0;
} */

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  padding: 8px 20px;
  width: 100%;
  box-sizing: border-box;
}

.foto-perfil {
  width: 64px;
  height: 64px;
}

.nome {
  color: var(--preto, #2d2a32);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.veiculo-info {
  color: var(--preto, #2d2a32);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--amarelo, #f2c718);
}

.info-nro {
  color: var(--preto, #2d2a32);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-sub {
  color: var(--preto, #2d2a32);
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 60px;
}

.botao {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

#enviar {
  background: var(--preto);
  color: var(--branco);
}

#enviar-click {
  border: 1px solid var(--amarelo, #F2C718);
  background: var(--branco);
  color: var(--preto);
}