.grid-container {
  display: grid;
  height: auto;
  gap: 1rem;
}

.form {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 8;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px rgba(45, 42, 50, 0.25);
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
  margin-left: 1.2rem;
}

button {
  padding: 0.7rem;
  margin: 0.4rem;
}

.btn-dark {
  background-color: var(--preto);
  color: var(--branco);
  border-style: none;
  border-radius: 8px;
}

.btn-light {
  background-color: var(--amarelo);
  color: var(--preto);
  border-style: none;
  border-radius: 8px;
}

img {
  width: 50%;
  margin: 10% 25%;
}

ol {
  list-style: none;
  display: block;
  padding: 0;
  counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
  padding: 0.2rem;
  margin: 1rem;
}
ol li::before {
  content: "⠀" counter(my-counter) "⠀" ;
  border-radius: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  margin-right: 0.4rem;
}

.bullet-active::before {
  background-color: var(--amarelo);
  color: var(--preto);
}

.bullet-inactive::before {
  background-color: var(--preto);
  color: var(--branco);
}

input {
    border-color: var(--preto);
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.09rem;
    padding: 0.3rem;
    margin-left: 1.5rem;
    background-color: var(--branco);
    width: 80%;
    
}

label {
    width: 50%;
    text-align: left;
    padding: 0.5rem 0.5rem;
    margin-left: 1.4rem;
    margin-top: 0.7rem;
}

.input-medium-left {
}

.input-medium-right {
    grid-column-start: 2;
    width: 83%;
}

.inner-grid {
    display: grid;
    text-align: left;
    margin-top: 0.8rem;
}

.inner-grid button {
    width: 50%;
}

.inner-grid .btn-light {
    grid-column-start: 2;
    margin-left: 40%;
}

.inner-grid .btn-dark {
    margin-left: 10%;
}