@font-face {
    font-family: 'Montserrat';
    src: url('/src/utils/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}


body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.input-container{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}


.login-page{
    width: 95%;
    height: 70%;
    box-shadow: 1px 1px 8px hsla(263, 9%, 18%, 0.3);
    border-radius: 8px;
    margin-bottom: 2vh;
    padding: 1vh 0;
}
.input-container{

    padding-right: 5vw;
    height: 10vh;
    align-items: center;
}
.input-field{
    height: 5vh;
    width: 80vw;
    border-radius: 32px;
border: 1px solid var(--preto, #2D2A32);
background: var(--branco, #F7F7F0);
}
.text-introduction{
    color: var(--preto, #2D2A32);
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 2vh;
}
.text-input{
    color: var(--preto, #2D2A32);
    padding-left: 6vw;
    font-size: 12px;
}
.div-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
}
.checkBox{
 border-radius: 4px;
border: 1px solid var(--preto, #2D2A32);
background: var(--branco, #F7F7F0);

}
.login-button{
    border-radius: var(--border-radius-8, 8px);
background: var(--amarelo, #F2C718);
border: none;
width: 90%;
height: 5vh;
}
.container-but{
    padding-left: 5vw;
    height: 5vh;
    align-items: center;
    font-size: 12px;
}
.bottom-links{
    width: 80vw;
    align-items: center;
   font-size: 85%;
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}
