.container-solicitacao {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.content-solicitacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}