.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* .container div p,h2 {
    margin: 0;
} */

.wrapper {
    padding: 8px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.foto-perfil {
    width: 64px;
    height: 64px;
}

.nome {
    color: var(--preto, #2d2a32);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dependente {
    color: var(--preto, #2d2a32);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-aceitar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--amarelo, #F2C718);
    border: none;
}

.btn-recusar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--preto);
    border: none;
    color: var(--branco);
}