.dependente {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.201);
}

.dependente .foto {
  width: 10vh;
  border-radius: 50%;
  margin: 0;
  background-color: black;
}

.dependente .campos {
  width: auto;
  height: auto;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.campos .nome {
  margin: 0;
  font-size: 16px;
}

.campos .ultimo-pagamento {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
