h1,
h2,
h3,
h4,
p,
span {
  color: var(--preto);
}

img {
  margin: 0;
}

.wrapper {
  padding: 2vh 3vh 0vh 3vh;
}

.dependente {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 1vh 3vh;
  width: 100%;
}

.foto {
  height: 8vh;
  width: 8vh;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

.nome {
  font-size: 14px;
  margin: 0;
}

.status {
  font-size: 11px;
  margin: 0;
}
