body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  height: 100%;
  margin: 3vh;
}

.adicionar {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.201);
  padding: 8px 20px;
  gap: 4px;
}

.adicionar span {
  padding-right: 1vh;
}
