.campo-inicial {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legenda {
  width: 70%;
  height: auto;
  box-shadow: 1px 1px 8px hsla(263, 9%, 18%, 0.3);
  border-radius: 8px;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  padding: 0 1vh;
}

.filtro-ano {
  width: 20%;
  height: auto;
  box-shadow: 1px 1px 8px hsla(263, 9%, 18%, 0.3);
  border-radius: 8px;
  border: none;
  background-color: var(--branco);
  margin-bottom: 2vh;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  padding-left: 1vh;
}

.leg-1,
.leg-2,
.leg-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #64adad;
  width: 3vh;
  height: 3vh;
}

.leg-1 {
  background: linear-gradient(
    180deg,
    #64adad 25%,
    #018789 25%,
    #018789 50%,
    #64adad 50%,
    #64adad 75%,
    #018789 75%
  );
}
.leg-2 {
  background: linear-gradient(
    320deg,
    #ff944d 25%,
    #f60 25%,
    #f60 50%,
    #ff944d 50%,
    #ff944d 75%,
    #f60 75%
  );
}
.leg-3 {
  background: linear-gradient(
    270deg,
    #ff6363 25%,
    #e50101 25%,
    #e50101 50%,
    #ff6363 50%,
    #ff6363 75%,
    #e50101 75%
  );
}
