.navbarbot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  height: 9vh;
  width: 100%;
  z-index: 999;
  background-color: #f7f7f0;
  color: #2d2a32;
  border-top: 1px solid #2d2a32;
  padding: 0 20px;
}
.espaco-fim {
  width: 100%;
  margin-bottom: 10vh;
}
