
body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  align-items: center;
}
.cardsContainer {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  margin-top: 20px; 
  padding: 0 16px; 
}

