@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
:root {
  --header-height: 3.5rem;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --laranja: #f2c718;
  --amarelo-claro: #ffe990;
  --branco: #f7f7f0;
  --cinza: #41485d;
  --preto: #2d2a32;
  --fonte: "Montserrat", sans-serif;
}

html,
body {
  background-color: var(--branco);
  font-family: var(--fonte);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #2d2a32;
}

::-webkit-scrollbar {
  width: 6px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: var(--laranja);
  border-radius: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

button {
  font-family: var(--fonte);
}
