.responsavel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.201);
  padding: 1vh 3vh;
}

.responsavel .foto {
  width: 8vh;
  border-radius: 50%;
  margin: 0;
}

.responsavel .campos {
  width: auto;
  height: auto;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.campos .nome {
  margin: 0;
  font-size: 16px;
}

.campos .ultimo-pagamento {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
