

h1,h2,h3,h4,p,span {
    color: var(--preto);
}

.dependente {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 8px 20px;
}

.foto {
    height: 48px;
    width: 48px;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nome {
    font-size: 14px;
    margin: 0;
}

.status {
    font-size: 11px;
    margin: 0;
}