.pesquisa {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 2vh 3vh;
}

#ipt_pesquisa {
  width: 70%;
  height: 5vh;
  border: none;
  box-shadow: 1px 1px 8px hsla(263, 9%, 18%, 0.3);
  background-color: #f7f7f0;
  color: #2d2a32;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 0 2vh;
  margin: 0;
  border-radius: 8px;
}

#btn_filtro {
  width: 20%;
  height: 5vh;
  border: none;
  box-shadow: 1px 1px 8px hsla(263, 9%, 18%, 0.3);
  background-color: #f7f7f0;
  color: #2d2a32;
  padding: 0 2vh;
  border-radius: 8px;
}
